.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}
.delete-btn {
  background-image: url(./delete.png);
  background-position: center top;
  background-size: cover;
  background-color: inherit;
  width: 30px;
  height: 30px;
  border: none;
  margin-left: 20px;
}
.edit-btn {
  background-image: url(./edit.png);
  background-position: center top;
  background-size: cover;
  background-color: inherit;
  width: 30px;
  height: 30px;
  border: none;
  margin-left: 10px;
}
.complete-btn {
  background-image: url(./complete.png);
  background-position: center top;
  background-size: cover;
  background-color: inherit;
  width: 30px;
  height: 30px;
  border: none;
  margin-left: 10px;
}
.App-intro {
  font-size: large;
}
.input-todo {
  background-color: inherit;
  border: none;
  border-bottom: 3px solid white;
  margin-top: 20px;
  color: white;
  text-align: center;
  font-size: 20px;
}
.todo-item {
  background-color: #353535;
  border: #a3a3a3 1px solid;
  color: white;
  font-size: 20px;
}
.input-todo::placeholder {
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
